* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box;
     -ms-box-sizing: border-box; /* IE */
}

html{
  height: 100%;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

body {
    font-family: 'Muli', sans-serif;
    height: 100%;
    background: url('../UnfriendWebsite/images/Homepage/table.jpeg');

}

.navbar{
  position: fixed !important;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  padding: 5px;

}

.banner {
  height: 30em;
  background-image: url('../UnfriendWebsite/images/Homepage/table.jpeg');

}

.bannerResizing {
  height: auto;
  width: auto;
  max-height: 60em;
}



.whiteSection{
  height: 40em;
  background-color:white;
  padding: 2em;
}

h2 {
  font-size: 40px;
  text-align: center;
}

.third {
  float: left;

}

.center {
  text-align: center;


}

.thirdsSizing {
  height: auto;
  width: auto;
  max-width: 120px;
  max-height: 120px;
}

.paddingh2 {
  padding-bottom: 1em;
}

h3 {
  font-size: 40px;
  text-align: center;
}

.pBlue {
  font-size: 18px;
  color: #1B6892;
}


.jobs {
  text-align: center;

}

.jobs1 {
  float: left;
  width: 40%;
  background-color: red;
  text-align: center;
}

.jobs2 {
  float: right;
  width: 40%;
  background-color: blue;
  text-align: center;

}


.view {
    width: auto;
    height: auto;
    margin: 10px;
    float: left;
    border: 10px solid #fff;
    overflow: hidden;
    text-align: center;
    cursor: default;
    background: #fff url(../images/bgimg.jpg) no-repeat center center
}
.view .mask, .view .content {
    width: 370px;
    height: 500px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {

}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.view p {
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}
.view a.info {
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}

.view-sixth:hover .mask {
	opacity:1;
	transition-delay: 0s;
}
.view-sixth:hover img {
	transition-delay: 0s;
}
.view-sixth:hover h2 {
	opacity: 1;
    transform: scale(1);
	transition-delay: 0.1s;
}
.view-sixth:hover p {
	opacity:1;
    transform: scale(1);
	transition-delay: 0.2s;
}
.view-sixth:hover a.info {
	opacity:1;
    transform: translateY(0px);
	transition-delay: 0.3s;
}


.view-sixth img {
	transition: all 0.4s ease-in-out 0.5s;
}
.view-sixth .mask{
	background-color: rgba(27,105,148,0.8);
	opacity:0;
	transition: all 0.3s ease-in 0.4s;
}
.view-sixth h2{
	opacity:0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 20px 40px 0px 40px;
    transform: scale(10);
    transition: all 0.3s ease-in-out 0.1s;
}
.view-sixth p {
	opacity:0;
    transform: scale(10);
	transition: all 0.3s ease-in-out 0.2s;
}
.view-sixth a.info {
	opacity:0;
    transform: translateY(100px);
	transition: all 0.3s ease-in-out 0.1s;
}

.view-sixth:hover .mask {
	opacity:1;
	transition-delay: 0s;
}
.view-sixth:hover img {
	transition-delay: 0s;
}
.view-sixth:hover h2 {
	opacity: 1;
    transform: scale(1);
	transition-delay: 0.1s;
}
.view-sixth:hover p {
	opacity:1;
    transform: scale(1);
	transition-delay: 0.2s;
}
.view-sixth:hover a.info {
	opacity:1;
    transform: translateY(0px);
	transition-delay: 0.3s;
}


.jobContainer {
  padding-top: 10em;
  padding-bottom: 5em;
  text-align: center;
  padding-left: 20%;



}
