/*

Client: Unfriend Studios
Author: alicebnelson.com
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: 'Muli', sans-serif;
  height: 100%;
}
a {
  text-decoration: none;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

.navbar{
  position: fixed !important;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding-bottom: 10px;
}

.navbar-brand {

}
.navbar-brand>img {
  padding-bottom: 10px;

}


#hero {
  height: 60em;
  background: url(../images/table3.jpg) fixed no-repeat top center #131e27;
  padding-top: 32px;
  background-size: 1920px 1080px;
}

#hero .logo {
  color: #fff;
}
#hero h2 {
  font-size: 7em;
  color: #31A7F0;
  margin: 120px 0 90px;
  font-weight: 600;
  font-family: 'Muli', sans-serif;
  text-align: left;
  padding-top: 2em;

}

#hero1 {
  height: 60em;
  background: url(../images/MobileAppDev/hero7.png) fixed no-repeat top center #131e27;
  padding-top: 3em;
  background-size: 1920px 1080px;
}

#hero1 .logo {
  color: #fff;
}
#hero1 h2 {
  font-size: 7em;
  color: #31A7F0;
  margin: 120px 0 90px;
  font-weight: 600;
  font-family: 'Muli', sans-serif;
  text-align: left;
  padding-top: 1em;

}

#hero2 {
  height: 60em;
  background: url(../images/WebAppDev/AdobeStock_99168216.jpeg) fixed no-repeat top center #131e27;
  padding-top: 3em;
  background-size: 1920px 1080px;
}

#hero2 .logo {
  color: #fff;
}
#hero2 h2 {
  font-size: 7em;
  color: #31A7F0;
  margin: 120px 0 90px;
  font-weight: 600;
  font-family: 'Muli', sans-serif;
  text-align: left;
  padding-top: 1em;

}

#hero3 {
  height: 60em;
  background: url(../images/AboutUs/aboutus.png) fixed no-repeat top center #131e27;
  padding-top: 1em;
  background-size: 1920px 1080px;
}

#hero3 .logo {
  color: #fff;
}
#hero3 h2 {
  font-size: 4em;
  color: #31A7F0;
  margin: 100px 0 90px;
  font-weight: 600;
  font-family: 'Muli', sans-serif;
  text-align: left;
  padding-top: 0em;
  width: 70%;

}

#hero4 {
  height: 60em;
  background: url(../images/Blog/blogHero.png) fixed no-repeat top center #131e27;
  padding-top: 1em;
  background-size: 1920px 1080px;
}

#hero4 .logo {
  color: #fff;
}
#hero4 h2 {
  font-size: 8em;
  color: #31A7F0;
  margin: 100px 0;
  font-weight: 600;
  font-family: 'Muli', sans-serif;
  text-align: left;
  padding-top: 0em;
  width: 70%;

}

#hero5 {
  height: 60em;
  background: url(../images/Contact/contact.png) fixed no-repeat top center #131e27;
  padding-top: 3em;
  background-size: 1920px 1080px;
}

#hero5 .logo {
  color: #fff;
}
#hero5 h2 {
  font-size: 7em;
  color: #31A7F0;
  margin: 120px 0 90px;
  font-weight: 600;
  font-family: 'Muli', sans-serif;
  text-align: left;
  padding-top: 1em;

}


#hero6 {
  height: 60em;
  background: url(../images/LetsBuild/letsbuild.png) fixed no-repeat top center #131e27;
  padding-top: 3em;
  background-size: 1920px 1080px;
}

#hero6 .logo {
  color: #fff;
}
#hero6 h2 {
  font-size: 7em;
  color: #31A7F0;
  margin: 120px 0 90px;
  font-weight: 600;
  font-family: 'Muli', sans-serif;
  text-align: center;
  padding-top: 0em;

}


.leftSide{
  width: 50%;
}

.heroQuote {
  padding-bottom: 3em;
}

.heroQuote2{
  padding-bottom: 0em;

}

.beauSizing {
  height: 300px;
  padding-top: 1em;

}

.emailSizing {
  width: 100%;
}

.beauImg {
  float: left;
  width: 100%;
  margin-right: 0.5em;
  margin-bottom: 2em;

}

.beauText {

  width: 100%;

}

.img1 {
  height: 250px;
  width: 250px;
  margin-top: 1em;

}

.imgLeft {
  float:left;
  text-align: center;
  width: 33%;
}

.imgCenter {
  display: inline-block;
  margin:0 auto;
  width: 75%;



}

.imgRight {
  float:right;
  text-align: center;
  width: 33%;
}

.button {
  border-radius: 5px;
  font-weight: 400;
  padding: 15px ;
  width: 280px;
  font-size: 28px;
  text-align: center;

  font-family: 'Muli', sans-serif;

}
.clearButton {
  border-radius: 5px;
  font-weight: 400;
  padding: 15px ;
  width: 280px;
  font-size: 28px;
  text-align: center;

  font-family: 'Muli', sans-serif;
  display: block;
box-sizing: border-box;
padding: 8px;
width: 80%;
max-width: 200px;
background: #fff; /* fallback color for old browsers */
background: rgba(255, 255, 255, 0.5);
border-radius: 8px;
color: #fff;
text-align: center;
text-decoration: none;
letter-spacing: 1px;
transition: all 0.3s ease-out;
}

.clearButton:hover,
.clearButton:focus,
.sclearButton:active {
  background: #fff;
  color: #000;
  transition: all 0.5s ease-in;
}

.clearButton1 {
  border-radius: 5px;
  font-weight: 400;
  padding: 15px ;
  width: 280px;
  font-size: 28px;
  text-align: center;

  font-family: 'Muli', sans-serif;
  display: block;
box-sizing: border-box;
padding: 8px;
width: 80%;
max-width: 200px;
background: #fff; /* fallback color for old browsers */
background: rgba(255, 255, 255, 0.5);
border-radius: 8px;
color: #fff;
text-align: center;
text-decoration: none;
letter-spacing: 1px;
transition: all 0.3s ease-out;
width: 50%;
margin: 0 auto;
margin-bottom: 10em;
}

.clearButton1:hover,
.clearButton1:focus,
.sclearButton1:active {
  background: #fff;
  color: #000;
  transition: all 0.5s ease-in;
}

.blue {
  background: #1B6994;
  color: #fff;
  font-size: 24px;
}

.buttonSpacing {
  padding-top: 3em;
  padding-bottom: 3em;
}

h4 {
  color: #1B6994 !important;
  font-size: 30px !important;
  padding: 1em 0 1em 0!important;
  text-align: left !important;
  font-weight: 600;
  margin-bottom: 40px;
  font-family: 'Muli', sans-serif;

}


h3 {
  color: #033048;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 40px;
  font-family: 'Muli', sans-serif;

}

.PillarFont {
  font-size: 29px;
  text-align: center;
  font-family: 'Muli', sans-serif;
  color: #32A7EF;
  font-weight: 600;

}


.PillarFont1 {
  font-size: 40px;
  text-align: center;
  font-family: 'Muli', sans-serif;
  color: #32A7EF;
  font-weight: 400;
  padding: 10px;

}

.imgGroup {
  padding-top: 3em;
}


h2 {
  font-size: 40px;
  text-align: center;
  font-family: 'Muli', sans-serif;

}




.herofont {
  color: white;
  font-size: 60px;
  font-weight: 400;
  font-family: 'Muli', sans-serif;
  text-align: left;

}

.buttonPosition {
  margin-bottom: 3em;
}


.third {
  float: left;

}

.center {
  text-align: center;


}

.center1 {
  padding-top: 5em;
}

.center2 {
  padding-top: 5em;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.thirdsSizing {
  height: auto;
  width: auto;
  max-width: 120px;
  max-height: 120px;
}

.paddingh2 {
  padding-bottom: 1em;
  padding-top: 2.5em;
}


.paddingh2web {
  padding-bottom: 1em;
  padding-top: 2.5em;
}


.iconSizing {
  padding-top: 3em;
  padding-bottom: 3em;
}


h3 {
  font-size: 40px;
  text-align: center;
}

.blueFont {
  font-size: 3em;
  text-align: center;
  color: #32A7EF;
  padding-bottom: 1em;
}

.blueFontRight {
  font-size: 18px;
  text-align: left;
  color: #32A7EF;
}

.iconSpacing {
  padding-right: 0.5em;
}

.iconContact {
  float: left;
}

.iconContact1 {
  float: left;
}

#address {
  float: left;
  padding-left: 2em;
}

#contactInfo {
  float: left;
  padding-left: 2em;
}

.addressText {
  float: left;
}

.pBlue {
  font-size: 18px;
  color: #1B6892;
}

.pBlack {
  font-size: 24px;
  text-align: justify;
  font-weight: 200;
}


.container1 {
  padding-bottom: 5em;
}


.containerSpacing {
  padding-top: 3em;
}

#testimonial {
  background: url(../images/table3.jpg) fixed no-repeat bottom center #131e27;
  padding: 70px 0 70px;
  color: #fff;
  font-size: 30px;
  font-style: italic;
  font-weight: 300;


}
blockquote {
  font-weight: 300;
  text-align: center;
  width: 75%;
  margin: 0 auto;
}
.name {
  font-weight: 600;
  display: block;
  font-style: normal;
}

.quotes {
  font-size: 35px;
  font-weight: 900;
}

.view {
    width: auto;
    height: auto;
    float: left;
    border: 20px solid #fff;
    overflow: hidden;
    background: #fff url(../images/bgimg.jpg) no-repeat center center
}

.view .mask, .view .content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: auto;
}

.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}

.view p {
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}

.view a.info {
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}

.view a.info:hover {
    box-shadow: 0 0 5px #000
}

.view-sixth:hover .mask {
	opacity:1;
	transition-delay: 0s;
}

.view-sixth:hover img {
	transition-delay: 0s;
}

.view-sixth:hover h2 {
	opacity: 1;
    transform: scale(1);
	transition-delay: 0.1s;
}

.view-sixth:hover p {
	opacity:1;
    transform: scale(1);
	transition-delay: 0.2s;
}

.view-sixth:hover a.info {
	opacity:1;
    transform: translateY(0px);
	transition-delay: 0.3s;
}

.view-sixth img {
	transition: all 0.4s ease-in-out 0.5s;
}

.view-sixth .mask{
	background-color: rgba(27,105,148,0.8);
	opacity:0;
	transition: all 0.3s ease-in 0.4s;
}

.view-sixth h2{
	opacity:0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 20px 40px 0px 40px;
    transform: scale(10);
    transition: all 0.3s ease-in-out 0.1s;
}

.view-sixth p {
	opacity:0;
    transform: scale(10);
	transition: all 0.3s ease-in-out 0.2s;
}

.view-sixth a.info {
	opacity:0;
    transform: translateY(100px);
	transition: all 0.3s ease-in-out 0.1s;
}

.view-sixth:hover .mask {
	opacity:1;
	transition-delay: 0s;
}

.view-sixth:hover img {
	transition-delay: 0s;
}

.view-sixth:hover h2 {
	opacity: 1;
    transform: scale(1);
	transition-delay: 0.1s;
}

.view-sixth:hover p {
	opacity:1;
    transform: scale(1);
	transition-delay: 0.2s;
}

.view-sixth:hover a.info {
	opacity:1;
    transform: translateY(0px);
	transition-delay: 0.3s;
}

.jobContainer {

  text-align: center;
  padding-top: 5em;
  padding-bottom: 5em;

}

#portfolio {
  background-color: #1B6892;
  color: white;
  padding-bottom: 7em;

}

.portfolioStyle {
  padding-top: 20em;
  padding-bottom: 20em;

}

.middleLeft{
  float:left;
  width: 33%;
}

.middleCenter{
  display: inline-block;
  margin:0 auto;
  width: 33%;
}

.middleRight{
  float: right;
  width: 33%;
}

.middleRow{
  width: 100%;
  text-align: center;
}

.bottomLeft{
  float: left;
  width: 50%;
}

.bottomRight{
  float: right;
  width: 50%;
}

.bottomRow{
  width: 100%;
  text-align: center;

}

.h3font {
  font-size: 60px;
}

.topRow {
  text-align: center;
  display: inline-block;
}

.imgSize {
  width: 100%;
}

.blueBG{
  background-color: #CEEAFB;
  height: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 18px;
  border-radius: 25px;
}

.blueText {
  text-align: left;

}

.floatLeft{
  float: left;
  padding-right: 1em;
}

.beauBox {
  padding-top: 3em;
  height: 100%;
}

#main {
  margin-top: 80px;
}

#bottom-cta {
  background: white;
  padding: 5em;
  text-align: center;
}

.whiteBG {
  background-color: white;
}

.containerImg {
  float: left;
}

.blogImgSize {
  width: 100%;
  padding-top: 1em;
}
.containerText {
  float: left;
  font-family: "Muli", sans-serif;
  font-size: 18px;
  padding-top: 1em;

}

footer {
  background: #383838;
  padding: 65px 0 45px;
  width: 100%;
}

.footerLeft{
  width: 70%;
}

.footerRight{
  width: 30%;
}

footer p {
  color: white;
}

.imgPadding {
  padding-bottom: 1em;
}

.imgPadding1 {
  padding-top: 3em;
}


.textPadding {
  padding-bottom: 5em;
}

.footerImages{
  padding-bottom: 2em;
  padding-top: 3em;
}

.footerLeft {
  float: left;
}

.footerRight {
  float: left;
}

.copyright {
  padding-top: 2em;
}

#contact {
  width: 70%;
}

.spacing {
padding-bottom: 20px;
}

.alignRight{
  float: right;
  width: 100%;
}

input[type=text] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    color: #b2b2b2
}

input[type=radio] {
  font-size: 24px;
  color: #b2b2b2
}

input[type=password]{
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  color: #b2b2b2
}

.widthInterest {
  width: 50px;
}

input,
textarea,
select,
label {
  font-family: "Muli", sans-serif;
  font-size: 24px;
  color: #606161;

}


.alignRight{
  font-size: 100%;
}

.styleSelect{
  height: 34px;
  font-size: 24px;
}

#registerNow{
  font-size: 36px;
  padding-bottom: 50px;
}

.buttonSpacing{
  padding-bottom: 50px;
  display: inline-block;
  padding-top: 50px;
}

select{
  background: white;
}

@media only screen and (max-width: 993px ){
  #hero3 h2{
    font-size: 3em;
  }
  .center3 {
    padding-top: 12em;
  }
}

@media only screen and (max-width: 416px ){
  #hero3 h2{
    font-size: 2em;
  }
}

@media only screen and (min-width: 768px){
  .aboutRight{
    text-align: right;
  }
  .aboutLeft{
    text-align: left; 
  }
  .aboutCenter{
    text-align: center;
  }
}

@media only screen and (max-width: 1199px) {
  #hero4 h2 {
    font-size: 6em;
  }
  .center2 {
    padding-top: 10em;
  }
}

@media only screen and (max-width: 991px) {
  .contactMap {
    width: 100%;
  }

    #hero5 h2{
    font-size: 4em;
  }

  .alignRight {
    width: 100%;
  }
}

@media only screen and (max-width: 374px) {
  #hero4 h2 {
    font-size: 4em;
  }
}




@media only screen and (max-width: 768px) {
  body {
    font-size: 18px;
  }
  header {
    padding: 10px;
  }
  h3 {
    font-size: 30px;
  }
  .logo {
    font-size: 36px;
  }
  header nav ul li {
    margin: 0px 20px 0 0;
  }
  header nav ul li {
    font-size: 18px;
  }
  #hero {
    height: auto;
    padding: 30px 0 50px;
  }
  #hero h2 {
    font-size: 28px;
    margin: 40px 0 60px;
  }

  #benefits {
    padding: 30px 0;
  }
  #benefits p, #benefits ul {
    width: 82%;
    margin: 0 auto 20px;
  }

  #benefits1 {
    padding: 30px 0;
  }

  #benefits1 p, #benefits1 ul {
    width: 82%;
    margin: 0 auto 20px;
  }

  #benefits2 {
    padding-bottom: 10em;
    background-color: white;
    margin-top: 5em;
  }

  #benefits2 p, #benefits2 ul {
    width: 82%;
    margin: 0 auto 20px;
  }

  blockquote {
    font-size: 20px;
    width: 90%;
  }
  #main {
    margin-top: 25px;
  }
  footer .logo, footer ul li {
    margin-bottom: 30px;
  }
  #posts, #sidebar {
    margin: 0 auto;
    width: 95%;
    display: block;
  }
  .post h2 {
    font-size: 24px;
  }
  .post p {
    font-size: 18px;
  }
  .post p:first-of-type:first-letter {
    float: none;
    font-size: 18px;
    line-height: 18px;
    padding: 0;
    font-weight: 300;
  }
  .post img {
    width: 100%;
    margin-bottom: 15px;
  }

}
